.section {
    width: 100%;
    overflow: hidden;
}
.section ul {
    width: 100%;
    padding: 0;
    margin: 0
}
.section ul li {
    margin-right: 14px;
    margin-bottom: 13px;
    width: 100%;
    height: 65px;
    list-style: none;
    overflow: hidden
}
.section ul li .photo {
    height: 95px;
    position: absolute;
    width: 100%;
    overflow: hidden;
}
.section ul li .photo p {
    font-size: 20px;
    color: #fff;
    margin: 0;
    text-align: center;
    /* line-height: 57px; */
    margin-top: 27px;
}
.section ul li .photo span {
    font-size: 14px;
    color: #fff;
    display: block;
    text-align: center;
}
.messagebox {
    z-index: 9999;
    background: rgba(1,1,1,0.6);
    position: relative;
    margin:0 auto;
    color: #eee;
}
.messagebox h2 {
    margin-bottom: 0px;
    padding: 10px;
    border: 1px solid rgba(2,2,2,0.7);
}
.messagebox table {
    border: 1px solid rgba(2,2,2,0.7);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
}
.messagebox table tr {
    border-bottom: 1px solid rgba(2,2,2,0.7);
}
.messagebox table tr td {
    padding: 2px;
}
#content {
    height: 100px;
    text-align: center;
}